
.galleryContainer1,
.galleryContainer2 {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: center;
	padding-bottom: 30px;
}

.galleryItem,
.thumb {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mySlides {
	display: flex;
	justify-content: space-around;
}

body {
	display: flex;
	flex-direction: column;
}

.main-footer {
	display: flex;
	justify-content: center;
}



/* ===============================
    About page
=============================== */

.mepic {
	display: flex;
	justify-content: center;
	max-width: 100%;
}



/* ===============================
    Contact page
=============================== */

.contactme,
.contact, {
	display: flex;
	justify-content: center;
}

.contact {
text-align: center;
margin: 2rem;
}

.contactPageName {
	text-align: center;
}

.contactopt {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* ===============================
    Media Queries
=============================== */

@media (max-width: 1384px) {
	.about-me {
		display: initial;
	}
	p {
		font-size: 2rem;
		margin: 0 40px 10px 40px;
	}
}

@media (max-width: 1130px) {
	.mySlides img {
		max-width: 100%;
		height: auto;
	}
	h2.aboutPageName  {
		font-size: 2.5rem;
	}
	.contactme p {
		padding: 0 20px 0 20px;
	}
}

@media (max-width: 1100px) {
	.mySlides img {
		max-width: 100vh;
		height: 40rem;
	}
}

@media (max-width: 1079px) {
	.about-me {
		display: initial;
	}
	p {
		font-size: 1.5rem;
		margin: 0 50px 10px 50px;
	}
}

@media (max-width: 1070px) {
	.mySlides img {
		max-width: 100%;
		height: auto;
	}
	img {
		justify-content: space-around;
	}
}


@media only screen and (max-width: 900px) {
	.main-header {
		background-image: none;
		background: firebrick;
		border-color: red;
		opacity: 1;
	}
	a#header {
		color: red;
		color: red;
		text-shadow: 2px 2px 4px black;
	}
	#header:hover {
		color: white;
	}
	a:hover {
		color: white;
	}
	header {
		margin-bottom: 55px;
		font-stretch: expanded;
	}
	.page-name {
		padding-top: 10rem;
	}
	img {
		justify-content: space-around;
	}
	.main-nav li {
		display: inline;
		justify-content: space-around;
	}
	.main-nav {
		background: rgb(194, 65, 65);
	}
	li {
		margin: 5px 25px 5px 25px;
	}
	.contactPageName {
		text-align: center;
	}
	.contact h3 {
		text-align: center;
	}
	.contactme p {
		padding: 0 30px 0 30px;
	}
}

@media (max-width: 850px) {
	.thumb {
		display: block;
		justify-content: center;
	}
	h2.aboutPageName  {
		font-size: 2.5rem;
	}
	.contactme p {
		padding: 0 20px 0 20px;
	}
}

@media (min-width: 621px) {
	.mySlides img {
		max-width: 100vh;
		height: auto;
	}
}

@media (max-width: 620px) {
	.mySlides img {
		max-width: 100%;
		height: 20rem;
	}
}

@media screen and (max-width: 535px) {
	.thumb {
		display: block;
		justify-content: center;
	}
	h2.aboutPageName  {
		font-size: 2.5rem;
	}
	.contactme p {
		padding: 0 20px 0 20px;
	}
}

@media (max-width: 534px) {
  li {
		overflow: hidden;
		white-space: nowrap;
	}
	.page-name {
		margin-top: 1em;
	}
}

@media (max-width: 500px) {
	.mySlides img {
		max-width: 100%;
		height: 18rem;
	}
}

@media (max-width: 480px) {
	html {
		margin-top: 0;
	}
	.page-name {
		margin-top: 3em;
		padding-top: 55px;
	}
	.contactopt img {
		width: 100%;
		max-width: 400px;
		height: auto;
	}
	.contactopt li {
		font-size: 1.5rem;
	}
}

@media (max-width: 470px) {
	.mySlides img {
		max-width: 100%;
		height: 17rem;
	}
}

@media (max-width: 424px) {
	html {
		margin-top: 0;
	}
	.page-name {
		margin-top: 4.5em;
		padding-top: 55px;
	}
	.mySlides img {
		max-width: 100%;
		height: 15rem;
	}
}

@media (max-width: 424px) {
	html {
		margin-top: 0;
	}
	.page-name {
		margin-top: 5em;
		padding-top: 55px;
	}
	h2.aboutPageName  {
		font-size: 2.5rem;
	}
}

@media (max-width: 400px) {
	.mySlides img {
		max-width: 100%;
		height: 14rem;
	}
}

@media (max-width: 380px) {
	h2.aboutPageName  {
		font-size: 2.5rem;
	}
	.mySlides img {
		max-width: 100%;
		height: 13rem;
	}
}

@media (max-width: 345px) {
	.mySlides img {
		max-width: 100%;
		height: 12rem;
	}
}

@media (max-width: 330px) {
	div.me img {
		border-radius: 5px 5px 5px 5px;
		max-width: 100%;
		height: auto;
	}
	.mySlides img {
		max-width: 100%;
		height: 10rem;
	}
	.thumb img {
		margin: auto;
	}
}